* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*HEADER Section*/

header {
    height: 100vh;
    background-image: url(../images/slider-photo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f8f8;
    background-position: center;
}

.top-bar {
    height: 2.8125rem;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    z-index: 10;
}

.top-bar-left {
    margin-right:  3rem;
}

.currency {
    color: #777777;
    font-size: 0.8125rem;
    display: flex;
    align-items: center;
}

.currency a {
    color: inherit;
    font-size: inherit;
    margin-left: 0.5rem;
    
}

#currency-list {
    background-color: #333333;
    border: 0;
    color: #727272;
    margin-left: 1rem;
}



.top-bar-right {
    display: flex;
    align-items: center;
}

.register-sign-in a {
    margin-right: 2rem;
    padding: 0.90rem;
}

.register-sign-in a:hover {
    background-color: #727272;
    color: #fff;

}

.register-sign-in a:last-of-type {
    margin-right: 4rem;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00c8c8;
    height: 2.8125rem;
    padding: 0 2rem;
    font-size: 0.8125rem;
}

.cart a {
    color: #fff;
}

.cart a:not(:last-child) {
    padding-right: 1rem;
}

.register-sign-in a {
    font-size: 0.8125rem;
    color: #898989;
}

.second-bar {
    margin: 2.375rem 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
}

.logo span {
    font-weight: 400;
}

/* The navigation menu */
.navbar {
    overflow: hidden;

}

.navbar a {
    float: left;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #727272;
    padding-top: 20px;
}
  
.subnav {
    float: left;
    overflow: hidden;
}

.subnavbtn {
    text-transform: uppercase;
}
  
.subnav .subnavbtn,
.nav .navbtn {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    border: none;
    outline: none;
    color: #222;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
}

.nav {
    float: left;
    overflow: hidden;
}

.navbtn,
.subnavbtn {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.navbtn:hover p,
.subnavbtn:hover p {
    color: #00c8c8;
}

.navbtn i {
    color: #f8f8f8;
}
  
.navbar a:hover, 
.subnav:hover,
.subnavbtn,
.nav:hover {
    color: #00c8c8;
  }
  
.subnav-content {
    display: none;
    position: absolute;
    width: auto;
    z-index: 1;
    color: #222;
    padding: 2rem;
    background: rgb(248,248,248);
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 66%);
    -webkit-box-shadow: 0px 16px 33px -26px rgba(87, 81, 83, 1);
    -moz-box-shadow: 0px 16px 33px -26px rgba(87, 81, 83, 1);
    box-shadow: 0px 16px 33px -26px rgba(87, 81, 83, 1);
}

.subnav-box {
    display: flex;
    justify-content: space-between;
}
  
.subnav-content a {
    float: left;
    color: #222;
    text-decoration: none;
}
  
.subnav-content a:hover {
    color: #00c8c8;
}
  
.subnav:hover .subnav-content {
    display: block;
}

.subnav-content-right,
.subnav-content-left {
    display: flex;
    flex-direction: column;
    min-width: 9.375rem;
    margin-bottom: 3rem;
}

.subnav-content-right {
    margin-left: 7rem;
}

.subnav-content-right h3,
.subnav-content-left h3 {
    margin-bottom: 20px;
    font-size: 12px;
    color: #333333;
}

.discount-box {
    width: 100%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2rem 0;
    margin-top: 2rem;
}

.discount-box p {
    font-weight: 400;
    font-size: 36px;
}

.search-box input {
    border: 0 solid #e7e7e7;
    outline: none;
}

.search-box {
    display: flex;
    align-items: center;
    border: 0.0625rem solid #e7e7e7;
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 5rem;
}

.search-box input {
    background-color: #f8f8f8;
}

.slider-bnt {
    position: absolute;
    top: 80%;
    right: 0;
    margin-right: 5rem;
    border: 2px solid #737373;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.slider-bnt:hover {
    background-color: #00c8c8;
    color: #fff;
    border: 2px solid #00aaaa;
    cursor: pointer;
}

.separator {
    padding-top: 3.9375rem;
    border-bottom: 0.0625rem solid #eeeeee;
    max-width: 110.625rem;
    margin: 0 auto;
}


/* Mobile Navigation Styles */
.mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.mobile-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.mobile-nav a:hover {
    color: #818181;
}

.mobile-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 36px;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*FILTERS Section*/

.filters {
    margin: 0 auto;
    max-width: 110.625rem;
}

.filters li {
    display: inline-block;
    margin-top: 3.4375rem;
    padding-right: 3.4375rem;
    font-size: 0.8125rem;
    font-weight: 400;
}

.filters li:first-child a,
.filters a:hover {
    color: #00aaaa;
}

/*PRODUCT Section*/

.product-list-container {
    max-width: 1770px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 2rem;
    gap: 1rem;
}

.item-slot-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.item-slot-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.item-slot-3 {
    grid-area: 1 / 3 / 3 / 5;
}

.item-slot-4 {
    grid-area: 2 / 1 / 4 / 3;
}

.item-slot-5 {
    grid-area: 3 / 3 / 4 / 4;
}

.item-slot-6 {
    grid-area: 3 / 4 / 4 / 5;
}

.product-card {
    position: relative;
    display: flex;
}

.product-card p {
    position: absolute;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    font-size: 21px;
    font-weight: 300;
    color: #9a9a9a;
    z-index: 3;
}

span.currency-symbol {
    font-size: 15px;
    vertical-align: super;
}


.product-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.item-slot-1,
.item-slot-2,
.item-slot-3,
.item-slot-4,
.item-slot-5,
.item-slot-6 {
    position: relative;
}

.product-card-hover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    z-index: 9;
}

.item-slot-1:hover .product-card-hover,
.item-slot-2:hover .product-card-hover,
.item-slot-3:hover .product-card-hover,
.item-slot-4:hover .product-card-hover,
.item-slot-5:hover .product-card-hover,
.item-slot-6:hover .product-card-hover {
    display: block;
    box-sizing: border-box;
    -webkit-box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
    -moz-box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
    box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
}

.item-slot-1:hover,
.item-slot-2:hover,
.item-slot-3:hover,
.item-slot-4:hover,
.item-slot-5:hover,
.item-slot-6:hover {
    -webkit-box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
    -moz-box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
    box-shadow: 0rem 1.25rem 1.75rem -1.0625rem rgba(57, 57, 57, 1);
}

.product-card-hover h3 {
    font-size: 0.8125rem;
    color: #8e8c8c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.625rem;
}

.product-card-hover p {
    font-size: 0.9375rem;
    color: #8e8c8c;
    text-align: center;
    margin-bottom: 0.625rem;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon a {
    background-color: #727272;
    padding: 0.625rem;
    border-radius: 50%;
    margin: 0.3125rem;
    color: #fff;
}

.nav-icon a:hover {
    background-color: #00aaaa;

}

/*LOOKBOOK Section*/

.lookbook-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    flex-wrap: wrap;
    gap: 2rem;
}

.man-lookbook,
.woman-lookbook,
.you-lookbook {
    background-color: #f8f8f8;
    flex: 1 1 30%
}

.lookbook-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lookbook-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 2rem;
}

.lookbook-right p {
    text-align: right;
    font-size: 0.9375rem;
    color: #727272;
    margin-bottom: 2rem;
}

.lookbook-right h1 {
    font-size: 3rem;
    color: #575153;
    font-weight: bold;
}

h1.light {
    font-weight: lighter;
    margin-bottom: 1rem;
}

.view-now {
    border:  0;
    padding: 25px 35px;
    background-color: #00c8c8;
}

.view-now a {
    color: #fff;
}

.view-now:hover {
    background-color: #777777;
    cursor: pointer;
}

.lookbook-photo img {
    display: flex;

}

.lookbook-photo  {
    height: 100%;
    min-width: 250px;
    overflow: hidden;
}

/*FOOTER Section*/

.footer-section {
    background-color: #f8f8f8;
    margin-top: 4.0625rem;
}

.links {
    max-width: 73.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.links-column {
    display: flex;
    flex-direction: column;
}

.links-column h3 {
    font-size: 0.8125rem;
    color: #575153;
    margin-bottom: 2rem;
}

.links-column a,
.links-column p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #727272;
    margin-bottom: 0.75rem;
}

.links-column a:hover {
    color: #00c8c8;
}

.links-bootom-section {
    max-width: 73.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 0;
}

.award-winner,
.social-links {
    flex: 1 1 50%
}

.award-winner {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0;
}

.award-winner h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.award-winner p {
    font-size: 2.25rem;
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
}

.social-links {
    background-color: #00c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 1rem;
    font-size: 2.25rem;
    color: #fff;
}

.social-links a:hover {
    color: #222;
}

footer {
    background-color: #333333;
}

.footer-container {
    max-width: 73.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
}

.copyright {
    color: #999999;
    font-size: 13px;
}

.right-footer {
    color: #777777;
    font-size: 13px;
    display: flex;
}

.right-footer span {
    font-weight: bold;
}

.right-footer p {
    margin-left: 1rem;
}

/*@MEDIA Section*/

@media only screen and (max-width: 1300px) {
    .navbar {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }
}


